<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>iCloseTheme</title>
  <link rel="stylesheet" href="/iCloseTheme/css/vendor.min.css">
  <link rel="stylesheet" href="/iCloseTheme/css/main.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
</head>
<div class="site__container">
<body dir="{{ Culture.Dir }}">
    <header>
    {% render_section "Header", required: false %}
    </header>
    {% render_body %}
    
    <footer>
    {% render_section "Footer", required: false %}
    </footer>
    
    {% script name:"jquery", use_cdn:"true", at:"Foot" %}
    
    <script src="/iCloseTheme/js/vendor.min.js"></script>
    <script src="/iCloseTheme/js/custom.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {% resources type: "FootScript" %}
</body>
</html>