<div class="header__part header__right" id="mainNav">
    <ul class="jeader__nav flex">
      {% for item in Model.Items %}
      {{ item | shape_render }}
      {% endfor %}
      <li>
        <a class="enterLink" href="#">
          <img src="/iCloseTheme/img/icons/enter.svg" alt="">
            <span>Login</span>
        </a>
      </li>
    </ul>
</div>
